* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  /* background-color: rgb(19, 19, 19); */
  background: url(199.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  border-radius: 4px;
    background-color:rgb(19, 19, 19)
}
